.Booking{
    width: 100%;
    height:100%;
    margin:0;
    margin-top: 1rem;
    color: whitesmoke;
    
    
    
}
.Bhead{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: x-large;
}
.text-center{
   background-image: url(https://p1.pxfuel.com/preview/80/83/592/road-highway-night-dark-evening-lights.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
  

}
.pgbar{
    padding-left:25rem;
    padding-right:25rem;
    align-content: center;
}
.cardT{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    visibility: visible;
    
}
.simpleT{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    
    
}