.register{
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
   
}

.login{
    margin-top: 4rem;
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
}
